{% extends "padre.html" %} {% block titulo %} Agregar trabajo {% endblock %} {%
block contenido %}
<section class="section">
  <h3>Agregar trabajo</h3>
  <form
    action="{{url_for('guardar_trabajo')}}"
    method="post"
    enctype="multipart/form-data"
  >
    <label for="nombre">Nombre</label>
    <input
      required
      type="text"
      placeholder="Nombre"
      name="nombre"
      id="nombre"
    />
    <label for="descripcion">Descripción</label>
    <input
      required
      type="text"
      placeholder="Descripción"
      name="descripcion"
      id="descripcion"
    />
    <label for="precio">Precio</label>
    <input
      required
      type="number"
      placeholder="precio"
      name="precio"
      id="precio"
    />
    <label for="imagen">Imagen</label>
    <input required type="file" name="imagen" id="imagen" />
    <button type="submit">Guardar</button>
    <a href="{{url_for('trabajos')}}">Volver</a>
    {% endblock %}
  </form>
</section>
