{% extends "padre.html" %} {% block titulo %} Editar trabajo {% endblock %} {%
block contenido %}
<section>
  <h3>Editar trabajo</h3>
  <form action="{{url_for('actualizar_trabajo')}}" method="post">
    {# Enviar el id en un campo oculto #}
    <input type="hidden" name="id" value="{{trabajo[0]}}" />
    <label for="nombre">Nombre</label>
    <input
      value="{{trabajo[1]}}"
      required
      type="text"
      placeholder="Nombre"
      name="nombre"
      id="nombre"
    />
    <label for="descripcion">Descripción</label>
    <input
      value="{{trabajo[2]}}"
      required
      type="text"
      placeholder="Descripción"
      name="descripcion"
      id="descripcion"
    />
    <label for="precio">Precio</label>
    <input
      value="{{trabajo[3]}}"
      required
      type="number"
      placeholder="precio"
      name="precio"
      id="precio"
    />
    <label for="imagen">Imagen</label>
    <input
      value="{{trabajo[4]}}"
      required
      type="file"
      placeholder="Imagen"
      name="imagen"
      id="imagen"
    />
    <button type="submit">Guardar</button>
    <a href="{{url_for('trabajos')}}">Volver</a>
  </form>
</section>
{% endblock %}
