<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estetica La Femme</title>
  </head>
  <body>
    <section>
      <h3>Estetica La Femme</h3>
      <ul>
        <li><a href="#"></a>Inicio</li>
        <li><a href="#"></a>Servicios</li>
        <li><a href="#"></a>Portafolio</li>
      </ul>
      <h3>Servicios</h3>
      <table>
        <tr>
          Cortes
          <td></td>
        </tr>
        <tr>
          Tintes
          <td></td>
        </tr>
        <tr>
          Productos
          <td></td>
        </tr>
      </table>
    </section>
    <footer>
      <div>
        <h3>Nuestro horario</h3>
        <h3>Lunes a viernes de 10:00 am a 6:00 pm</h3>
        <h3>Sabados y domingos de 10:00 a 4:00 pm</h3>
      </div>
      <div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3396.8917447903664!2d-106.36885588535375!3d31.636814281331223!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86e7673f9d2d1031%3A0x75147ec978d2812!2sEstetica%20La%20femme!5e0!3m2!1ses-419!2sus!4v1652123477322!5m2!1ses-419!2sus"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </footer>
  </body>
</html>
