{% extends "padre.html" %} {% block titulo %} trabajos {% endblock %} {% block
contenido %}

<section>
  <h3>Trabajos</h3>
  <a href="{{url_for('formulario_agregar_trabajo')}}">Agregar</a>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Imagen</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      {% for trabajo in trabajos %}
      <tr>
        <td>{{trabajo[1]}}</td>
        <td>{{trabajo[2]}}</td>
        <td>{{trabajo[3]}}</td>
        <td>{{trabajo[4]}}</td>
        <td>
          {# Pasar el id (lo que hay en trabajo[0] #}
          <a href="{{url_for('editar_trabajo', id=trabajo[0])}}">Editar</a>
        </td>
        <td>
          <form action="{{url_for('eliminar_trabajo')}}" method="POST">
            <input type="hidden" name="id" value="{{trabajo[0]}}" />
            <button>Eliminar</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}
